.Input {
	margin-bottom: 15px;
}
.Input span {
	color: red;
}
.Input label {
	text-transform: uppercase;
	font-weight: 600;
	color: #678983;
	display: block;
}

.invalid {
	background: #f3c7c7;
	border: 1px solid #e45454;
}

.Input input,
.Input textarea,
.Input select {
	width: 100%;
	padding: 10px 10px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 4px;
	border: 1px solid silver;
	margin-top: 5px;
}
