.lead {
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 15px;
}

.contenu {
	text-align: left;
	padding: 30px;
}

.auteur {
	background-color: #f1f1f1;
	padding: 15px;
	border-radius: 4px;
}

.auteur span {
	margin-left: 15px;
}

.button {
	display: block;
	margin-top: 15px;
	text-align: right;
	padding: 30px;
}

.button button {
	border: none;
	padding: 10px 15px;
	background-color: #d06224;
	color: white;
	margin: 5px;
	border-radius: 4px;
}

.button button:hover,
.button button:focus {
	background-color: #a8511b;
}

.badge {
	font-size: 0.9rem;
	background-color: #cccccc;
	color: white;
	border-radius: 4px;
	padding: 5px 8px;
}
