.form {
	width: 80%;
	max-width: 400px;
	background-color: #ededed;
	padding: 30px;
	margin: auto;
	border-radius: 5px;
	text-align: left;
}

.alert {
	padding: 10px;
	background-color: #ffacac;
	border: 1px solid #f87c7c;
	border-radius: 4px;
	margin-bottom: 10px;
}

.buttons {
	text-align: right;
}
.button {
	padding: 10px 15px;
	border: 0;
	color: white;
	background-color: #d06224;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 5px;
}
.button:disabled {
	opacity: 0.3;
	cursor: not-allowed;
}
.button:hover,
.button:focus {
	background-color: #3f0071;
}
