.AffichageArticle {
	width: 300px;
	padding: 15px;
	background-color: #f1f1f1;
	transition: 0.3s;
	height: 100%;
}

.AffichageArticle:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.link {
	text-decoration: none;
	color: inherit;
	margin: 15px;
}
