.Header {
	border-bottom: 1px solid silver;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	font-family: Arial, Helvetica, sans-serif;
	color: #3f0071;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
