.Navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.logout {
	border: 0;
	padding: 5px, 10px;
	cursor: pointer;
	transition: 0.3s;
	background-color: #d06224;
	color: white;
	border-radius: 4px;
}

.logout:hover {
	background-color: #a8511b;
	color: white;
}
