.ManageArticle {
	width: 80%;
	background-color: #ededed;
	padding: 30px;
	margin: auto;
	border-radius: 5px;
	text-align: left;
}

.submit {
	text-align: right;
}

.submit input {
	padding: 10px 15px;
	border: 0;
	color: white;
	background-color: #d06224;
	border-radius: 5px;
	cursor: pointer;
}

.submit input:disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

.submit input:hover,
.submit input:focus {
	background-color: #3f0071;
}
